@page
@model RazorPagesMovie.Pages.Movies.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movie.Hersteller" class="control-label"></label>
                <input asp-for="Movie.Hersteller" class="form-control" />
                <span asp-validation-for="Movie.Hersteller" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Preis" class="control-label"></label>
                <input asp-for="Movie.Preis" class="form-control" />
                <span asp-validation-for="Movie.Preis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.SitzPlaetze" class="control-label"></label>
                <input asp-for="Movie.SitzPlaetze" class="form-control" />
                <span asp-validation-for="Movie.SitzPlaetze" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Raeder" class="control-label"></label>
                <input asp-for="Movie.Raeder" class="form-control" />
                <span asp-validation-for="Movie.Raeder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Leistung" class="control-label"></label>
                <input asp-for="Movie.Leistung" class="form-control" />
                <span asp-validation-for="Movie.Leistung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Bauhjahr" class="control-label"></label>
                <input asp-for="Movie.Bauhjahr" class="form-control" />
                <span asp-validation-for="Movie.Bauhjahr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.kundenname" class="control-label"></label>
                <input asp-for="Movie.kundenname" class="form-control" />
                <span asp-validation-for="Movie.kundenname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
