@page
@model RazorPagesMovie.Pages.Fahrzeuge.Autos.AusleihenModel
@{
    ViewData["Title"] = "Ausleihen";
}

<h1>Ausleihen</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <p>Aktuelle Zeit: </p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>
                    <label asp-for="AusleihenBIS" class="control-label"></label>
                    <input asp-for="AusleihenBIS" class="form-control" type="datetime-local" />
                    <span asp-validation-for="AusleihenBIS" class="text-danger"></span>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Ausleihen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>